# Python кеш
__pycache__/
*.py[cod]
*$py.class

# Віртуальне середовище
env/
venv/
ENV/

# Тестові файли
test_*.py

# Локальні конфігураційні файли
.env

# Інші системні файли
.DS_Store
.vscode/
.idea/ 